footer {
    background: rgb(97, 201, 97);
    margin: 0;
    p {
        font-family: 'Anton', sans-serif;
        text-align: center;
        color: white;
        font-size: 0.8rem;
        margin: 0;
        padding: 0.7rem 0;
        a {
            color: white;
            text-decoration: none;
        }
        a:hover,
        a:focus {
            color: rgb(194, 76, 76);
        }
    }
}