main {
    background-color: rgb(255, 236, 194);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    padding: 2.8rem 0;

    label {
        text-align: center;
        padding-bottom: 1.5rem;
        font-size: 1.9rem;
        color: rgb(194, 76, 76);
    }
    select {
        height: 2.3rem;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    select:hover,
    select:focus {
        background-color: rgb(237, 253, 232);
    }
    select,
    button {
        margin: 0.5rem;
        text-align: center;
    }
    button {
        font-family:  'Lobster', cursive;
        font-size: 1.3rem;
        border: none;
        padding: 0.6rem;
        background-color: rgb(97, 201, 97);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
}

button:hover,
button:focus {
    background-color: rgb(57, 143, 57);
}

.formContainer {
    margin: auto;
    width: 50%;
}

h2 {
    margin: 0;
}

ul {
    margin: 0;
}